extends layout

block content

  h1= evento.nombre
  img(src='/images/'+evento.imagen, alt=evento.nombre, width="300", height="300")
  p= evento.detalle
  p= evento.fecha
  p= evento.genero
  p= evento.lugar
  p= evento.precio



  form(action="/events/purchase" method="post")
    button(type="submit") Obtener Tickets 